input{
    background-color: aliceblue;
    width: 550px;
    height: 70px;
    color: black;
    font-size: 30px;
    position: absolute;
    top: 0px;
    left: 50px;
    border:hidden;
   
}
#input{
    display: inline-block;
    position:relative;
    left:550px;
    top: -230px;
    width: 700px;
    height: 80px;
   
}
#alltaken{
    border:hidden;
    border-right: none;
    border-radius: 0;
    width: 50px;
    height: 72px;
    background-color:white;
    color: black;
    position: absolute;
    top: 0px;
}
img{
    position: absolute;
    left: 10px;
    top: 13px;
}
#alltaken:focus{
    border: black;
}
input:focus{
    border:black ;
}
#submit{
    position: absolute;
   
    width: 100px;
    height: 70px;
    background-color:white;
    left: 505px;
    top: 0px;
    border: hidden;
    border-radius: 0;
    color: black;
    font-size: 20px;
}